
$font-path: '../fonts' !default;

@font-face {
	font-family: 'tl-regular';
	src: url('#{$font-path}/titilliumweb-regular.eot');
	src: local('☺'), url('#{$font-path}/titilliumweb-regular.woff') format('woff'),
		 url('#{$font-path}/titilliumweb-regular.ttf') format('truetype'),
		 url('#{$font-path}/titilliumweb-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'exo2-regular';
	src: url('#{$font-path}/exo2-regular.eot');
	src: local('☺'), url('#{$font-path}/exo2-regular.woff') format('woff'),
		 url('#{$font-path}/exo2-regular.ttf') format('truetype'),
		 url('#{$font-path}/exo2-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$brand-font: 		'exo2-regular', sans-serif;

$secondary-font:	'tl-regular', sans-serif;

$rb:  				$brand-font;

$al-b:				$brand-font;

$al-r:				$brand-font;

$base-font-type:	$al-r;
