/* Color palette*/
$color-red:					#ff322e;
$color-blue:				#0054a6;
$color-gray-dark: 			#363636;
$color-black:				#000;
$color-white:				#fff;
$color-orange:				#f7941d;
$color-green:				#99c345;
$color-slateblack:			#111111;
$color-gray:				#cccccc;


/* Text*/
$color-text:        		$color-gray-dark;


// /* Links*/

$color-link:        		$color-black;

$color-link-hover:   		#14efda;


/*Brand colors*/

$site-color:				$color-link-hover;
$primary-color: 			#0054a6;
$orange:					#f89117;


/*border-colors*/

$border-gray:				#636363;


/* social icon//*/

$color-fb:  				#4e71a8;
$color-tw:					#1cb7eb;
$color-insta: 				#444444;
$color-google: 				#e3411f;
$color-you: 				#ca3737;
$color-li:					#1686b0;
