/* slideIn  animation */

@-webkit-keyframes slideIn{
    0% {
        width: 100%
    }
    100% {
        width: 55%
    }
}

@keyframes slideIn{
    0% {
        width: 100%
    }
    100% {
        width: 55%
    }
}

/* fadeOut animation */

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

/* fadeIn animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* fadeInLeft animation */

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2.5%, 0, 0);
        transform: translate3d(-2.5%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-2.5%, 0, 0);
        transform: translate3d(-2.5%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* flipOutX animation */

@-webkit-keyframes slideInUp {
    0%{
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    0%{
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* ColorBar animation */

@-webkit-keyframes colorBar {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    20% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    40% {
        -webkit-transform: translateX(-0%);
                transform: translateX(-0%);
    }
    60% {
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
    }

    80% {
        -webkit-transform: translateX(75%);
                transform: translateX(75%);
    }

    100% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}

@keyframes colorBar {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    20% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    40% {
        -webkit-transform: translateX(-0%);
                transform: translateX(-0%);
    }
    60% {
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
    }

    80% {
        -webkit-transform: translateX(75%);
                transform: translateX(75%);
    }

    100% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}


@-webkit-keyframes movebar {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
  20%, 100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}


@keyframes movebar {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
  20%, 100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

/* lineV animation */

@-webkit-keyframes lineV {
    0% {
        height: 0
    }
    100% {
        height: 55px
    }
}

@keyframes lineV {
    0% {
        height: 0
    }
    100% {
        height: 55px
    }
}

/* lineV2 animation */

@-webkit-keyframes lastV {
    0% {
        height: 0
    }
    100% {
        height: 100%
    }
}

@keyframes lastV {
    0% {
        height: 0
    }
    100% {
        height: 100%
    }
}

/* lineW animation */

@-webkit-keyframes lineW {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

@keyframes lineW {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

/* slideDown animation */

@-webkit-keyframes slideLoadingDown {
    0% {
        top: -100%
    }
    100% {
        top: 30px
    }
}

@keyframes slideLoadingDown {
    0% {
        top: -100%
    }
    100% {
        top: 30px
    }
}

/* slideUp animation */

@-webkit-keyframes slideLoadingUp {
    0% {
        bottom: -100%
    }
    100% {
        bottom: 0
    }
}

@keyframes slideLoadingUp {
    0% {
        bottom: -100%
    }
    100% {
        bottom: 0
    }
}